@page
@model MyFisrtAzureWebApp.Pages.NewPageModel
@{
    ViewData["Title"] = "New Page";
}
<div class="text-center">
    <h1 class="display-4">Downloadable apps</h1>
    <p><a href="https://bba-firstwebapp.scm.azurewebsites.net/dev/api/files/wwwroot/mauiapp1.apk"> .NET MAUI App (shopping list sample) </a>.</p>
</div>

